html {
    scroll-behavior: smooth;
}
:root {
    --bg-color: #0D0D0D;
    --secondary-bg: #151515;

    --primary-color: #C62828;
    --primary-hover: #E53935;

    --text-color: #F5F5F5;
    --secondary-text: #A7A7A7;

    --border-color: #292929;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}
.container {
    margin-left: 50px;
    margin-right: 50px;
}
@media (max-width: 767px) {
    .container {
        margin-left: 30px;
        margin-right: 30px;
    }
}
/* Start Style of Button */
body .arrow {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: var(--border-color);
    padding: 6px 8px;
    border: none;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
}
body button i {
    color: white;
    font-size: 18px;
}
/* Start Style of Button */
/* Start Header */
header {
    margin-left: 50px;
    margin-right: 50px;
    position: sticky;
    top: 0;
    z-index: 100;
}
@media (max-width: 767px) {
    header {
        margin-right: 15px;
        margin-left: 15px;
    }
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    transform: translateY(10px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
header nav .logo {
    transition: 0.3s;
}
header nav .logo a {
    color: var(--primary-color);
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}
header nav .logo:hover {
    transform: scale(1.1);
}
header nav .logo a:hover {
    color: var(--primary-hover);
    
}
header .nav-links {
    position: relative;
    z-index: 100;
}
header .nav-links i {
    display: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
@media (max-width: 767px) {
    header .nav-links i {
        display: block;
    }
}
header .nav-links .links {
    display: flex;
    gap: 15px;
    align-items: center;
}
@media (max-width: 767px) {
    header .nav-links .links {
        display: none;
        flex-direction: column;
        border: 1px solid #eee;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding: 10px 0;
        position: absolute;
        right: 30px;
        top: 35px;
        width: 150px;
        transition: 0.5s;
        background-color: rgba(21, 21, 21, 0.7);
    }
    header .nav-links .show {
        display: flex;
    }
    header .nav-links .links a {
        padding: 10px 15px;
        margin-left: -10px;
    }
    header .nav-links .links a:hover {
        margin-left: 0;
        transform: scale(1);
    }
}
header .nav-links .links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-size: 18px;
    position: relative;
}
header .nav-links .links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--primary-hover);
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}
header .nav-links .links a:hover::before {
    width: 100%;
}
header .nav-links .links a:hover {
    color: var(--primary-hover);
}
header .nav-links .links .active {
    color: var(--primary-hover);
}
/* End Header */
/* Start Main */
    /* Start Hero Section */
    .hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 50px;
        margin-right: 50px;
        position: relative;
        height: fit-content;
        margin-top: 100px;
        padding-bottom: 100px;
    }
    @media (max-width: 767px) {
    .hero {
        margin-left: 30px;
        margin-right: 30px;
    }
    }
    @media (max-width: 850px) {
        .hero {
            justify-content: center;
        }
    }
    .hero::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
    }
    .hero .info {
        color: white;
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }
    @media (max-width: 850px) {
        .hero .info {
            margin: 0 30px;
        }
    }
    @media (max-width: 767px) {
        .hero .info {
            margin: 0;
        }
    }
    .hero .info .start {
        color: var(--secondary-text);
        font-size: 24px;
    }
    .hero .info .name {
        font-size: 60px;
        font-weight: bold;
        color: var(--text-color);
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .hero .info .name span {
        font-size: 50px;
        font-weight: bold;
        color: var(--primary-color);
    }
    .hero .info .track {
        font-size: 28px;
        color: var(--secondary-text);
    }
    .hero .info hr {
        background-color: var(--primary-color);
        width: 100px;
        height: 2px;
        border: none;
        margin-top: 20px;
        margin-left: 50px;
    }
    .hero .info p {
        color: var(--text-color);
        letter-spacing: 2px;
        font-size: 18px;
    }
    .hero .info .skills-t {
        display: flex;
        margin-top: 20px;
        padding-left: 0;
        gap: 60px;
    }
    .hero .info .skills-t .skill {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .hero .info .skills-t .skill i {
        font-size: 50px;
        margin-bottom: 5px;
    }
    .hero button {
        width: fit-content;
        margin-top: 20px;
        background-color: transparent;
        border: 1px solid red !important;
        border-radius: 10px;
        overflow: hidden;
        border: none;
        padding: 15px 25px;
        padding-right: 30px;
        transition: 0.3s;
        cursor: pointer;
        margin-top: 40px;
    }
    .hero button:hover ~ button a {
        color: var(--secondary-text);
    }
    .hero button a {
        color: white;
        font-weight: 600;
        text-decoration: none;
        transition: 0.3s;
        font-size: 17px;
    }
    .hero button a i {
        color: var(--secondary-text);
        margin-left: 10px;
        transition: 0.3s;
    } 
    .hero button:hover a i {
        transform: translateX(5px);
    }
    .hero .image {
        overflow: hidden;
        border-radius: 20px;
        border: 2px solid rgba(255, 50, 50, 0.7);
        box-shadow: 0 20px 50px  rgba(180, 0, 0, 0.25), 0 0 35px rgba(255, 40, 40, 0.15);
        animation: scale 2s  ease-in-out infinite;
        height: fit-content;
        max-height: 600px;
        max-width: 450px;
    }
    @media (max-width: 830px) {
        .hero .image {
            display: none;
        }
    }
    .hero .image img {
        width: 100%;
        height: 100%;
    }
    /* End Hero Section */
    /* Start About Me Section */
    .about .container {
        display: flex;
        gap: 40px;
        align-items: center;
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @media (max-width: 991px) {
            .about .container {
                flex-direction: column;
            }
    }
    .about .container::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: white;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
        .about .image {
            width: 250%;
            height: fit-content;
        }
        @media (min-width: 1200px) {
            .about .image {
                width: 250%;
            }
        }
        @media (max-width: 1199px) {
            .about .image {
                width: 300%;
            }
        }
        @media (max-width: 991px) {
            .about .image {
                width: 100%;
            }
        }
        .about .image img {
            width: 100%;
        }
        .about .container .info {
            color: white;
            max-width: 100%;
        }
        .about .container .info .first {
            letter-spacing: 3px;
            color: var(--secondary-text);
            padding-left: 45px;
            position: relative;
        }
        .about .container .info .first::before {
            content: "";
            position: absolute;
            left: 0;
            width: 30px;
            height: 2px;
            background-color: #E53935;
            top: 50%;
            transform: translateY(-50%);
        }
        .about .container .info .second {
            margin: 0;
            margin-top: 10px;
            font-size: 40px;
            font-weight: bold;
        }
        .about .container .info .third {
            margin: 0;
            font-weight: bold;
            font-size: 50px;
            color: var(--primary-color);
        }
        .about .container .info .track {
            letter-spacing: 6px;
            font-size: 18px;
            color: var(--secondary-text);
            margin: 20px 0;
        }
        .about .container .info .about-p {
            line-height: 1.6;
            font-size: 16px;
            color: #ede3e3;
            letter-spacing: 1.5px;
        }
        .about .container .info .mixed-box {
            display: flex;
            gap: 15px;
            justify-content: space-between;
            margin-top: 25px;    
            flex-wrap: wrap;
        }
        .about .container .info .mixed-box .line {
            width: 1px;
            background-color: var(--secondary-text);
            height: 99px;
        }
        @media (max-width: 720px) {
            .about .container .info .mixed-box {
                flex-direction: column;
                gap: 20px;
            }
            .about .container .info .mixed-box .line {
                width: 99px;
                height: 1px;
                display: inline-block;
                margin: 0 30px;
            }
        }
        .about .info .mixed-box .box {
            display: flex;
            gap: 15px;
        }
        .about .info .mixed-box .box .text span {
            font-size: 12px;
            color: var(--secondary-text);
            letter-spacing: 2px;
        }
        .about .info .mixed-box .box .text h3 {
            margin: 0;
            margin-top: 10px;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 5px;
        }
        .about .info .mixed-box .box .text p {
            color: var(--secondary-text);
            font-weight: 400;
            margin: 0;
            font-size: 14px;
        }
        .about .info .mixed-box .box i {
            color: red;
            font-size: 25px;
        }
        .about .info button {
            padding: 0;
            border-radius: 10px;
            margin-top: 25px;
            background-color: transparent;
            border: 1px solid var(--primary-color);
        }
        .about .info button a {
            text-decoration: none;
            color: white;
            letter-spacing: 1.3px;
            padding: 15px 20px;
            display: block;
        }
        .about .info button:hover a i {
            transform: translateX(5px);
        }
        .about .info button a i {
            margin-left: 10px;
            transition: 0.3s;
            color: var(--secondary-text);
        }
    /* End About Me Section */
    /* Start Skills */
    .skills {
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skills .container {
        position: relative;
        display: flex;
        gap: 40px;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    @media (max-width: 1199px) {
        .skills .container {
            flex-direction: column;
        }
    }
    .skills .container::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: white;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
    }
    .skills .title {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skills .title .first {
       position: relative;
       font-size: 18px;
       text-align: center;
       width: 200px;
    }
    .skills .title .first::before {
       content: "";
       position: absolute;
       width: 60px;
       height: 2px;
       background-color: #E53935;
       top: 50%;
       transform: translateY(-50%);
       left: 0;
    }
    .skills .title .first::after {
       content: "";
       position: absolute;
       width: 60px;
       height: 2px;
       background-color: #E53935;
       top: 50%;
       transform: translateY(-50%);
       right: 0;
    }
    .skills .title .title-name {
       font-size: 60px;
       font-weight: bold;
       letter-spacing: 2px;
    }
    .skills .title .title-name span {
       color: var(--primary-hover);
    }
    .skills .title .p {
       color: var(--secondary-text);
       letter-spacing: 2px;
    }
    .skills .skills-box {
        width: 40%;
        border-radius: 10px;
        box-shadow: -10px -10px 13px -10px var(--primary-hover);
        border: 0.5px solid #212121;
        background-color: #15151594;
        overflow: hidden;
        height: fit-content;
        position: relative;
        transition: 0.5s;
    }
    .skills .skills-box:hover {
        box-shadow: 10px 10px 13px -10px var(--primary-hover);
    }
    .skills .skills-box::after {
        content: "";
        position: absolute;
        bottom: 0px;
        box-shadow: 4px 4px 56px 29px var(--primary-hover);
        right: 0;
    }
    @media (max-width: 1199px) {
        .skills .skills-box {
            width: 100%;
        }
    }
    .skills .skills-box .skills-img {
        width: 100%;
        border-bottom-right-radius: 260px 140px;
        overflow: hidden;
        box-shadow: 7px 5px 2px -7px var(--primary-hover), -7px 5px 6px -5px var(--primary-hover);
        height: 250px;
    }
    .skills .skills-box .skills-img img {
        width: 100%;
    }
    .skills .skills-box .info {
        margin: 0 20px;
    }
    .skills .skills-box .info h2 {
        margin-bottom: 5px;
    }
    .skills .skills-box .info h3 {
        margin-top: 0;
        color: var(--primary-hover);
    }
    .skills .skills-box .info p {
        color: var(--secondary-text);
        margin: 0 0 20px;
    }
    .skills .skills-box .info .skills-line {
        width: 100%;
        background-color: #5d5858;
        height: 1px;
        margin-bottom: 20px;
    }
    .skills .skills-box .info .details {
        display: flex;
        justify-content: space-between;
    }
    .skills .skills-box .info .details .line-box {
        width: 1px;
        height: 95px;
        background-color: var(--secondary-text);
    }
    .skills .skills-box .info .details .skill-box {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        width: 100%;
    }
    .skills .skills-box .info .details .skill-box i {
        content: var(--fa);
        font-size: 22px;
        color: var(--primary-hover);
    }
    .skills .skills-box .info .details .skill-box span {
        font-size: 20px;
        margin-top: 5px;
    }
    .skills .skills-box .info .details .skill-box p {
        font-size: 14px;
        color: var(--secondary-text);
        text-align: center;
    }

    .skills .container .skills-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .skills .container .skills-container .skill-box {
        display: flex;
        border: 1px solid #5d5858a4;
        border-radius: 10px;
        padding: 20px;
        position: relative;
        overflow: hidden;
    }
    .skills .container .skills-container .skill-box::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 2px;
        background-color: var(--primary-hover);
        transition: 1s;
    }
    .skills .container .skills-container .skill-box::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: var(--primary-hover);
        transition: 1s;
    }
    .skills .container .skills-container .skill-box:hover::before,
    .skills .container .skills-container .skill-box:hover::after {
        width: 100%;
    } 
    @media (max-width: 767px) {
        .skills .container .skills-container .skill-box {
          padding-bottom: 40px;
        }
        .skills .skills-container .skill-box .percentage  {
            transform: translatey(55px);
        }
        .skills .skills-container .skill-box .per-num {
            transform: translateY(55px);
        }
    }
    .skills .container .skills-container .skill-box .icon {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px -8px 13px -11px var(--primary-hover), inset 0px 8px 13px -10px var(--primary-hover), inset 8px 0 13px -10px var(--primary-hover), inset -8px 0px 13px -10px var(--primary-hover);
    }
    .skills .container .skills-container .skill-box .icon i {
        color: var(--primary-hover);
    }
    .skills .container .skills-container .skill-box .skill-info {
        margin-left: 20px;
    }
    .skills .container .skills-container .skill-box .skill-info .skill-name {
        font-size: 16px;
        margin: 0;
        background: transparent;
    }
    .skills .container .skills-container .skill-box .skill-info .skills {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 10px;
    }
    .skills .container .skills-container .skill-box .skill-info .skills span {
        padding:  5px 10px;
        color: white;
        border-radius: 10px;
        font-size: 12px;
        background-color: var(--border-color);
        border: var(--secondary-text);
    }
    .skills .skills-container .skill-box .percentage {
        position: absolute;
        right: 65px;
        width: 50%;
        background-color: var(--border-color);
        height: 10px;
        border-radius: 10px;
        top: 30px;
        overflow: hidden;
    }
    .skills .skills-container .skill-box .percentage::before {
        content: "";
        position: absolute;
        left: 0;
        width: var(--width);
        height: 10px;
        background-color: var(--primary-hover);
    }
    .skills .skills-container .skill-box .per-num {
        position: absolute;
        right: 20px;
        top: 10px;
        position: absolute;
    }
    /* End Skills */
    /* Start Projects Section */
    main .projects {
        height: 100vb;
        position: relative;
        margin-left: 30px;
        margin-right: 30px;
    }
    main .projects::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: white;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
    }
    .projects .title {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projects .title .first {
       position: relative;
       font-size: 18px;
       text-align: center;
       width: 250px;
       color: var(--primary-color);
    }
    .projects .title .first::before {
       content: "";
       position: absolute;
       width: 60px;
       height: 2px;
       background-color: #E53935;
       top: 50%;
       transform: translateY(-50%);
       left: 0;
    }
    .projects .title .first::after {
       content: "";
       position: absolute;
       width: 60px;
       height: 2px;
       background-color: #E53935;
       top: 50%;
       transform: translateY(-50%);
       right: 0;
    }
    .projects .title .title-name {
       font-size: 60px;
       font-weight: bold;
       letter-spacing: 2px;
       color: var(--primary-color);
    }
    .projects .title .title-name span {
       color: white;
    }
    .projects .title .p {
       color: var(--secondary-text);
       letter-spacing: 2px;
       text-align: center;
       max-width: 700px;
    }
    /* End Projects Section */
    /* Start Contact Section */
    main .contact {
        height: 100vb;
        position: relative;
        margin-left: 30px;
        margin-right: 30px;
    }
    main .contact::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: white;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
        }
    /* End Contact Section */
/* End Main */
/* Start Footer */
footer {
   padding: 50px;
}
/* End Footer */

/* Animation */
@keyframes scale {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(10px);
    }
}